@charset "UTF-8";
/*reset*/
* {
  margin: 0;
  padding: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, h6, em, strong, b {
  font-weight: normal; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1;
  /*IE/7/6*/ }

html {
  font-size: 16px;
  font-family: "微软雅黑";
  width: 100%;
  height: 100%; }

body {
  min-width: 333px;
  height: 100%;
  background-color: #ddd; }

/*$bgcolors main colors blue*/
/*fontColor grey*/
/*color*/
.h2css h2, .customers-logo h2, .customers-appraise1 h2, .service h2, .case h2 {
  width: 60%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin: 70px auto 30px;
  background-color: #fff;
  box-shadow: 0 2px 2px 2px #019ED5;
  color: #032951;
  border-radius: 20px 20px 20px 20px; }
  .h2css h2 span, .customers-logo h2 span, .customers-appraise1 h2 span, .service h2 span, .case h2 span {
    margin-left: 10px;
    color: #8AABCA;
    font-size: 1.2rem; }

@media screen and (min-width: 768px) {
  nav.top-nav {
    height: 100px; }
    nav.top-nav li a {
      height: 100px;
      line-height: 100px;
      font-size: 1.2rem; }
    nav.top-nav .logo {
      width: 80px;
      height: 80px;
      background: url(../images/logo.png) no-repeat;
      background-size: 80px 80px; }

  .banner, .seat {
    margin-top: 110px; }

  .about-content {
    margin-top: 110px; } }
@media screen and (max-width: 768px) and (min-width: 600px) {
  nav.top-nav {
    height: 80px; }
    nav.top-nav li a {
      height: 80px;
      line-height: 80px;
      font-size: 1rem; }
    nav.top-nav .logo {
      width: 64px;
      height: 64px;
      background: url(../images/logo.png) no-repeat;
      background-size: 64px 64px; }

  .banner, .seat {
    margin-top: 90px; }

  .about-content {
    margin-top: 90px; } }
@media screen and (max-width: 600px) and (min-width: 320px) {
  nav.top-nav {
    height: 50px; }
    nav.top-nav li a {
      height: 50px;
      line-height: 50px;
      font-size: 0.8rem; }
    nav.top-nav .logo {
      width: 40px;
      height: 40px;
      background: url(../images/logo.png) no-repeat;
      background-size: 40px 40px; }

  .banner, .seat {
    margin-top: 60px; }

  .about-content {
    margin-top: 60px; } }
@media screen and (max-width: 320) {
  nav.top-nav {
    height: 50px; }
    nav.top-nav li a {
      height: 50px;
      line-height: 50px;
      font-size: 0.6rem; }
    nav.top-nav .logo {
      width: 40px;
      height: 40px;
      background: url(../images/logo.png) no-repeat;
      background-size: 40px 40px; }

  .banner, .seat {
    margin-top: 60px; }

  .about-content {
    margin-top: 60px; } }
nav.top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #032951;
  z-index: 100; }
  nav.top-nav li {
    float: left;
    width: 10%;
    color: #fff; }
    nav.top-nav li:nth-child(1) {
      border-left: 1px solid #ddd; }
    nav.top-nav li a {
      display: inline-block;
      text-align: center;
      width: 100%;
      border-right: 1px solid #fff;
      color: #ddd; }
      nav.top-nav li a:hover {
        background-color: #8AABCA; }
  nav.top-nav .logo {
    float: left;
    margin: 10px 10% 10px 15%; }

#banner {
  width: 100%; }
  #banner img {
    display: block;
    margin: 0 auto;
    width: 100%;
    /*box-shadow: 0 0 0 10px #C1BFBF;*/ }

/*为坐响应式，添加的一个展位元素，标签相对定位的父元素*/
.seat {
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0; }
  .seat .intro-content, .seat #intro5 {
    margin-left: -20px; }
    .seat .intro-content > .float, .seat #intro5 > .float {
      float: left;
      width: 20%;
      padding-left: 20px;
      box-sizing: border-box; }
      .seat .intro-content > .float .layout, .seat #intro5 > .float .layout {
        margin: 0 auto;
        overflow: hidden; }
  .seat img {
    visibility: hidden; }
  .seat .intro-content .float, .seat #intro5 .float {
    height: 180px; }
    .seat .intro-content .float .layout, .seat #intro5 .float .layout {
      margin-top: 20px; }
  .seat h3, .seat p {
    margin-left: 40px;
    text-align: left; }
  .seat h3 {
    font-size: 16px;
    margin-bottom: 10px;
    color: #504F4F; }
  .seat p {
    font-size: 14px;
    color: #888686; }
    .seat p a {
      color: #888686; }
    .seat p a:hover {
      color: #032951;
      text-decoration: underline; }
  .seat .float:hover {
    background-color: #8AABCA;
    background-clip: content-box; }
    .seat .float:hover p, .seat .float:hover h3, .seat .float:hover p > a {
      color: #fff; }
  .seat .z-active {
    background-color: #8AABCA;
    background-clip: content-box; }
    .seat .z-active p, .seat .z-active h3, .seat .z-active p > a {
      color: #fff; }

.centent {
  margin-top: 150px; }

.section {
  margin: 10px auto;
  width: 80%; }

.customers-logo {
  margin: 0 auto;
  width: 80%; }
  .customers-title {
    text-align: center; }
    .customers-title p {
      height: 40px;
      line-height: 40px;
      font-size: 0.8rem;
      color: #888686; }
  .customers-logo .customers-bg h3 {
    height: 40px;
    line-height: 40px;
    font-size: 1rem;
    color: #504F4F; }
  .customers-logo .intro-content, .customers-logo #intro5 {
    margin-left: -20px; }
    .customers-logo .intro-content > .float, .customers-logo #intro5 > .float {
      float: left;
      width: 33.3%;
      padding-left: 20px;
      box-sizing: border-box; }
      .customers-logo .intro-content > .float .layout, .customers-logo #intro5 > .float .layout {
        margin: 0 auto;
        overflow: hidden; }
  .customers-logo .customers-img {
    width: 100%;
    height: 100px;
    background: url(../images/customerlogo.png);
    background-size: 100% 500%; }
  .customers-logo .img-163 {
    background: url(../images/customerlogo163.png);
    background-position: 0 0;
    background-size: 100% 100px; }
  .customers-logo .img-lemon {
    background-position: 0 0; }
  .customers-logo .img-tpy {
    background-position: 0 25%; }
  .customers-logo .img-sd {
    background-position: 0 50%; }
  .customers-logo .img-mt {
    background-position: 0 75%; }
  .customers-logo .img-hi {
    background-position: 0 100%; }
  .customers-logo h3 {
    text-align: center; }

.customers-appraise1 {
  margin: 30px auto;
  width: 80%; }
  .customers-appraise1 .intro-content, .customers-appraise1 #intro5 {
    margin-left: -20px; }
    .customers-appraise1 .intro-content > .float, .customers-appraise1 #intro5 > .float {
      float: left;
      width: 25%;
      padding-left: 20px;
      box-sizing: border-box; }
      .customers-appraise1 .intro-content > .float .layout, .customers-appraise1 #intro5 > .float .layout {
        margin: 0 auto;
        overflow: hidden; }
  .customers-appraise1 .intro-content, .customers-appraise1 #intro5 {
    vertical-align: middle; }
  .customers-appraise1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%; }
  .customers-appraise1 p {
    font-size: 0.8rem;
    color: #888686; }
  .customers-appraise1 h3 {
    height: 50px;
    display: inline-block;
    font-size: 0.9rem;
    vertical-align: middle;
    color: #404040; }

.service {
  margin: 30px auto;
  width: 80%;
  overflow: hidden; }
  .service .title {
    float: left;
    top: 0;
    bottom: 0;
    width: 20%;
    background: linear-gradient(to bottom, #032951, #8AABCA);
    margin-bottom: -1000px;
    padding-bottom: 1000px;
    height: 100px;
    color: #fff; }
    .service .title h3, .service .title p {
      width: 80%;
      margin: 0 auto; }
    .service .title h3 {
      font-size: 1rem;
      height: 30px;
      margin: 20px; }
    .service .title p {
      font-size: 0.8rem; }
  .service .service-intro {
    margin-left: 23%; }
    .service .service-intro .intro-content, .service .service-intro #intro5 {
      margin-left: -20px; }
      .service .service-intro .intro-content > .float, .service .service-intro #intro5 > .float {
        float: left;
        width: 50%;
        padding-left: 20px;
        box-sizing: border-box; }
        .service .service-intro .intro-content > .float .layout, .service .service-intro #intro5 > .float .layout {
          margin: 0 auto;
          overflow: hidden; }
    .service .service-intro .intro-content, .service .service-intro #intro5 {
      margin-bottom: 20px; }
      .service .service-intro .intro-content h4, .service .service-intro #intro5 h4, .service .service-intro .intro-content p, .service .service-intro #intro5 p {
        margin: 5px 5px; }
      .service .service-intro .intro-content h4, .service .service-intro #intro5 h4 {
        margin-top: 10px;
        font-size: 1rem;
        color: #504F4F; }
      .service .service-intro .intro-content p, .service .service-intro #intro5 p {
        font-size: 0.8rem;
        color: #888686; }
      .service .service-intro .intro-content .service-bg, .service .service-intro #intro5 .service-bg {
        padding-right: 3px; }
        .service .service-intro .intro-content .service-bg:hover > a, .service .service-intro #intro5 .service-bg:hover > a {
          display: block;
          box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25); }
    .service .service-intro .service-img {
      width: 100%;
      height: 100px;
      background: url(../images/intro2.jpg);
      background-size: 400px 300px; }

.case {
  margin: 10px auto;
  width: 80%; }
  .case .intro-content, .case #intro5 {
    margin-left: -20px; }
    .case .intro-content > .float, .case #intro5 > .float {
      float: left;
      width: 33.3%;
      padding-left: 20px;
      box-sizing: border-box; }
      .case .intro-content > .float .layout, .case #intro5 > .float .layout {
        margin: 0 auto;
        overflow: hidden; }
  .case .intro-content .case-img, .case #intro5 .case-img {
    position: relative;
    height: 200px;
    width: 100%; }
    .case .intro-content .case-img:hover .layer, .case #intro5 .case-img:hover .layer {
      height: 100%; }
  .case .intro-content .img-lemon, .case #intro5 .img-lemon {
    background: url(../images/case1.png);
    background-position: 0 0; }
  .case .intro-content .img-tpy, .case #intro5 .img-tpy {
    background: url(../images/case2.png);
    background-position: 25% 0; }
  .case .intro-content .img-jy, .case #intro5 .img-jy {
    background: url(../images/case3.png);
    background-position: 0 0; }
  .case .intro-content h3, .case #intro5 h3 {
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem; }
  .case .intro-content p, .case #intro5 p {
    padding: 10px 20px;
    vertical-align: middle;
    z-index: 200; }
  .case .intro-content .layer, .case #intro5 .layer {
    position: absolute;
    bottom: 0px;
    background-color: rgba(3, 41, 81, 0.7);
    border: 1px solid #thitdFond;
    width: 100%;
    height: 0%;
    z-index: 10;
    -webkit-transition: height 500ms;
    -moz-transition: height 500ms;
    -ms-transition: height 500ms;
    -o-transition: height 500ms;
    transition: height 500ms;
    color: #fff; }
    .case .intro-content .layer h3, .case #intro5 .layer h3 {
      margin-top: 10px;
      font-size: 1rem; }
    .case .intro-content .layer p, .case #intro5 .layer p {
      font-size: 0,8rem; }

#intro2 {
  margin: 10px auto;
  width: 80%;
  background-color: #F8FCD8;
  background-size: cover; }
  #intro2 h2 {
    margin: 0 auto;
    width: 300px;
    height: 50px;
    background-color: #1ac472;
    text-align: center;
    line-height: 50px; }
  #intro2 .intro-content, #intro2 #intro5 {
    margin-left: -20px; }
    #intro2 .intro-content > .float, #intro2 #intro5 > .float {
      float: left;
      width: 33.33%;
      padding-left: 20px;
      box-sizing: border-box; }
      #intro2 .intro-content > .float .layout, #intro2 #intro5 > .float .layout {
        margin: 0 auto;
        overflow: hidden; }
  #intro2 .intro-content .intro2-img, #intro2 #intro5 .intro2-img {
    width: 130px;
    height: 80px;
    background: url(../images/intro2-icon2.png) no-repeat; }
  #intro2 .intro-content h3, #intro2 #intro5 h3 {
    text-align: center;
    font-size: 1.5rem;
    color: #1ac472; }
  #intro2 .intro-content p, #intro2 #intro5 p {
    text-align: center; }
  #intro2 .img-com {
    background-position: 0 0; }
  #intro2 .img-wechat {
    background-position: 0 -90px; }
  #intro2 .img-maintain {
    background-position: 0 -180px; }

#intro3 {
  margin: 10px auto;
  width: 80%;
  background-color: #F8FCD8;
  background-size: cover; }
  #intro3 h2, #intro3 > p {
    margin: 0 auto;
    text-align: center; }
  #intro3 .intro-content, #intro3 #intro5 {
    margin-left: -20px; }
    #intro3 .intro-content > .float, #intro3 #intro5 > .float {
      float: left;
      width: 20%;
      padding-left: 20px;
      box-sizing: border-box; }
      #intro3 .intro-content > .float .layout, #intro3 #intro5 > .float .layout {
        margin: 0 auto;
        overflow: hidden; }

#intro4 {
  color: #fff;
  background: url(../images/intro4.jpg) repeat; }
  #intro4 h2, #intro4 > p {
    margin: 0 auto;
    text-align: center; }
  #intro4 .intro-content, #intro4 #intro5 {
    margin-left: -20px; }
    #intro4 .intro-content > .float, #intro4 #intro5 > .float {
      float: left;
      width: 25%;
      padding-left: 20px;
      box-sizing: border-box; }
      #intro4 .intro-content > .float .layout, #intro4 #intro5 > .float .layout {
        margin: 0 auto;
        overflow: hidden; }
  #intro4 .intro-content h3, #intro4 #intro5 h3 {
    text-align: center; }

#intro5 {
  background: url(../images/intro5.jpg) no-repeat; }

#intro6 {
  background-color: #fff; }

#intro7 {
  background: url(../images/intro7.jpg) no-repeat; }

#intro8 {
  background: url(../images/intro8.jpg) no-repeat; }

#intro9 {
  background-color: #fff; }

footer {
  background-color: #000;
  color: #fff; }
  footer .footer-nav ul {
    margin-bottom: 20px;
    height: 30px;
    line-height: 30px;
    background-clip: content-box;
    border-bottom: 1px solid #4F4F4F; }
  footer li {
    display: inline-block;
    width: 80px;
    text-align: center;
    border-left: 1px solid; }
  footer .contact .intro-content, footer .contact #intro5 {
    margin-left: -20px; }
    footer .contact .intro-content > .float, footer .contact #intro5 > .float {
      float: left;
      width: 33.3%;
      padding-left: 20px;
      box-sizing: border-box; }
      footer .contact .intro-content > .float .layout, footer .contact #intro5 > .float .layout {
        margin: 0 auto;
        overflow: hidden; }
  footer .contact .contact-content {
    margin-left: 150px;
    width: 80%;
    height: 80%; }
  footer .contact > h3 {
    float: left;
    width: 150px;
    height: 150px; }
  .contact-content > div h5, .contact-content > div p {
    display: inline-block; }

/*aboutus*/
.about-content {
  margin-top: 130px; }
  .about-content .side {
    position: fixed;
    top: 130px;
    left: 20px;
    bottom: 150px;
    float: left;
    width: 20%;
    height: 100%; }
    .about-content .side ul li {
      height: 50px;
      border: 1px solid;
      right: 20%;
      background-clip: content-box;
      line-height: 50px;
      background: linear-gradient(to bottom, #0F0F0F, #000 50%, #0F0F0F);
      border-bottom: 1px solid #444444; }
      .about-content .side ul li a {
        display: inline-block;
        width: 100%;
        text-align: center; }
      .about-content .side ul li:hover {
        background: #610101; }
        .about-content .side ul li:hover span {
          opacity: 1;
          filter: alpha(opacity=100); }
      .about-content .side ul li span {
        position: absolute;
        width: 0;
        height: 0;
        border-top: 26px solid transparent;
        border-left: 15px solid #610101;
        border-bottom: 27px solid transparent;
        opacity: 0;
        filter: alpha(opacity=0); }
  .about-content .about-intro {
    margin-left: 25%;
    width: 60%; }

@keyframes turnaround {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }
.about-intro h2 {
  font-size: 1.1rem;
  text-align: center;
  color: #888686; }
  .about-intro h2 span {
    padding-right: 5px;
    font-size: 1.3rem;
    color: #504F4F; }
.about-intro > div {
  margin-top: 50px; }
.about-intro h3 {
  height: 50px;
  color: #504F4F;
  font-size: 1.2rem;
  line-height: 50px;
  text-align: right; }
.about-intro p {
  font-size: 0.8rem;
  color: #888686;
  line-height: 1.3rem; }
  .about-intro p span {
    font-size: 1rem;
    color: #504F4F; }
.brief-intro .intro-content, .brief-intro #intro5 {
  margin-left: -20px; }
  .brief-intro .intro-content > .float, .brief-intro #intro5 > .float {
    float: left;
    width: 33.3%;
    padding-left: 20px;
    box-sizing: border-box; }
    .brief-intro .intro-content > .float .layout, .brief-intro #intro5 > .float .layout {
      margin: 0 auto;
      overflow: hidden; }
.brief-intro .intro-content, .brief-intro #intro5 {
  margin-top: 20px; }
  .brief-intro .intro-content p, .brief-intro #intro5 p {
    margin-top: 10px; }
.brief-intro .intro-img {
  width: 100px;
  height: 100px;
  background-color: #8AABCA;
  border-radius: 50% 50%;
  animation: turnaround 700ms ease;
  -webkit-animation: turnaround 700ms ease;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%; }
  .brief-intro .intro-img h4 {
    line-height: 100px;
    text-align: center;
    color: #fff; }

.about-intro .intro-content, .about-intro #intro5 {
  margin-left: -20px; }
  .about-intro .intro-content > .float, .about-intro #intro5 > .float {
    float: left;
    width: 33.3%;
    padding-left: 20px;
    box-sizing: border-box; }
    .about-intro .intro-content > .float .layout, .about-intro #intro5 > .float .layout {
      margin: 0 auto;
      overflow: hidden; }
.about-intro .attitude > div {
  margin: 20px auto;
  width: 60%;
  vertical-align: top; }
  .about-intro .attitude > div .layout {
    height: 130px; }
  .about-intro .attitude > div h4 {
    background-color: #8AABCA;
    line-height: 120px;
    text-align: center;
    color: #fff; }

.about-intro .founder .ceo {
  overflow: hidden; }
  .about-intro .founder .ceo h4 {
    float: left;
    width: 80px;
    background-color: #8AABCA;
    text-align: center;
    line-height: 100px;
    color: #fff;
    margin-bottom: -500px;
    padding-bottom: 500px;
    height: 100px; }
  .about-intro .founder .ceo p {
    margin-left: 100px; }
.about-intro .founder .cxo {
  margin-top: 20px; }
  .about-intro .founder .cxo .layout {
    height: 50px;
    background-color: #8AABCA;
    text-align: center;
    line-height: 50px;
    color: #fff; }

.about-intro .recruit span {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 0.9rem;
  width: 100px;
  color: #fff;
  text-align: center;
  background-color: #8AABCA;
  border-left: 1px solid #fff; }

/*toolbar*/
.toolbar {
  position: fixed;
  right: 0px;
  bottom: 5px;
  margin-left: -26px; }

.toolbar-item, .toolbar-btn, .toolbar-btn:before, .toolbar-btn:after {
  width: 52px;
  height: 52px; }

.toolbar-btn:before, .toolbar-btn:after {
  position: absolute;
  left: 0;
  color: #fff;
  text-align: center;
  -webkit-transition: top 1s;
  -moz-transition: top 1s;
  -ms-transition: top 1s;
  -o-transition: top 1s;
  transition: top 1s; }

.toolbar-item {
  position: relative;
  display: block;
  margin-top: 1px; }
  .toolbar-item:hover .toolbar-btn:before {
    top: -52px; }
  .toolbar-item:hover .toolbar-btn:after {
    top: 0; }
  .toolbar-item:hover:after {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1); }
  .toolbar-item:after {
    content: "";
    position: absolute;
    right: 45px;
    bottom: -10px;
    width: 172px;
    background-image: url(../images/QRcode.png);
    background-repeat: no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform-origin: 95% 95%;
    -moz-transform-origin: 95% 95%;
    -ms-transform-origin: 95% 95%;
    -o-transform-origin: 95% 95%;
    transform-origin: 95% 95%;
    -webkit-transform: scale(0, 0.01);
    -moz-transform: scale(0, 0.01);
    -ms-transform: scale(0, 0.01);
    -o-transform: scale(0, 0.01);
    transform: scale(0, 0.01);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s; }

.toolbar-item-wechat:after {
  content: "";
  height: 212px;
  background-position: 0 0; }
.toolbar-item-wechat .toolbar-btn:before {
  content: ""; }
.toolbar-item-wechat .toolbar-btn:after {
  content: "公众\a账号"; }

.toolbar-item-feedback .toolbar-btn:before {
  content: ""; }
.toolbar-item-feedback .toolbar-btn:after {
  content: "意见\a反馈"; }

.toolbar-btn {
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  .toolbar-btn:before {
    top: 0;
    background-color: #d0d6d9;
    font-size: 30px;
    line-height: 52px; }
  .toolbar-btn:after {
    content: "";
    padding-top: 12px;
    top: 52px;
    background-color: #98a1a6;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    line-height: 1.2;
    white-space: pre; }

.toolbar-item-app:after {
  content: "";
  height: 194px;
  background-position: 0 -222px; }
.toolbar-item-app .toolbar-btn:before {
  content: ""; }
.toolbar-item-app .toolbar-btn:after {
  content: "APP\a下载"; }

.toolbar-item-top .toolbar-btn:before {
  content: ""; }
.toolbar-item-top .toolbar-btn:after {
  content: "返回\a顶部"; }

/*# sourceMappingURL=index.css.map */
