   @import "mixin";
   @import "animation";
    /*reset*/
    *{
      margin:0;
      padding:0;
    }
    ul{
      list-style: none;
    }
    a{
     text-decoration: none;
     // color: #fff;
    }
    h1,h2,h3,h4,h5,h6,em,strong,b{font-weight:normal;}
	 .clearfix:before,.clearfix:after{ 
	    content:""; 
	    display:table; 
	} 
	.clearfix:after{clear:both;} 
	.clearfix{ 
	    *zoom:1;/*IE/7/6*/
	}
    html{
    	font-size:16px;
    	font-family:"微软雅黑";
    	width:100%;
    	height: 100%;
    }
   body{
	 min-width: 333px;
	 height: 100%;
   background-color:#ddd;

   }

    /*$bgcolors main colors blue*/
     $navLarge:100px;
     $mainColor:#032951;
     $secondColor:#11406C;
     $thirdColor:#019ED5;
     $fourthColor:#8AABCA;
     $fifthColor:#fff;
   /*fontColor grey*/
     $mainFont:#000;
     $secondFont:#504F4F;
     $thirdFont:#888686;

    // $navmiddle:80px;
    /*color*/


    @mixin layout($width){ 	
    	.intro-content{
	        margin-left:-20px;
	    		>.float{
	    			float: left;
	    			width:$width;
	    			padding-left: 20px;
	    			box-sizing: border-box;
	    			.layout{
	    				margin:0 auto;
	    				// height: 161px;
	    				// width:235px;
	    				// background: url(../images/intro1-icon.png) no-repeat;   				
	    				overflow: hidden;
	    			}    	
	       }
       }
	}   
    
    @mixin navheight($height,$fontsize){
    	nav.top-nav{
    		height:$height;
    		li a{
    			height: $height;
    			line-height:$height;
    			font-size: $fontsize;
    		}
    		.logo{

    			width:$height*0.8;
    			height: $height*0.8;
    			background: url(../images/logo.png) no-repeat;
    			background-size: $height*0.8 $height*0.8;
    		} 

    	}
    	.banner,.seat{
           margin-top: $height+10px; 
        }
        .about-content{
           margin-top: $height+10px;         	
        }
    }
    .h2css{
      h2{
        width:60%;
        height:50px;
        line-height:50px;
        text-align:center;
        margin:70px auto 30px;
        background-color:#fff;
        // background: linear-gradient(to bottom, $mainColor,$secondColor 50%,$mainColor); 
        box-shadow:0 2px 2px 2px $thirdColor; 
        color:$mainColor;
        border-radius:20px 20px 20px 20px; 
       span{
          margin-left:10px;
          color:$fourthColor;
          font-size:1.2rem;            
       }       
      }
       
    }


    @media screen and (min-width:768px){
       @include navheight(100px,1.2rem);
       $navLarge:100px;
    }

    @media screen and (max-width:768px) and (min-width:600px){
    	@include navheight(80px,1rem);
    	$navLarge:80px;
    }
    @media screen and (max-width:600px) and (min-width:320px){
    	@include navheight(50px,0.8rem);
    	$navLarge:50px;    	
    }
    @media screen and (max-width:320){
    	@include navheight(50px,0.6rem);
     	$navLarge:50px;    	
    }   

    $blank-height:10px;
    nav.top-nav{
      position: fixed;
      top: 0;
      left: 0;
      // height: $navLarge;
      width: 100%;
      background-color: $mainColor ;
      z-index:100;
        li{
	      float: left;
	      width: 10%;
	      // height: $navLarge;
	      color: #fff;
	      &:nth-child(1){
	      	border-left: 1px solid #ddd;
	      }
	        a{
		       display: inline-block;
		       text-align: center;
		       width:  100%;
		       // height: $navLarge;
		       border-right:1px solid #fff;
		       //font-size: 1.2rem;
		       // line-height:$navLarge;
		       color: #ddd;	
		       &:hover{
			      background-color: $fourthColor;
			   }     	
	      }    	
       }
       .logo{
   	     float: left;
	       margin: 10px 10% 10px 15%;
	     // width: 100px;
	     // height: 100px;
	     // background: url(../images/logo.png) no-repeat;
	     //background-size: 100px 100px;
       }
    }


    #banner{
    	width:100%;
    	// height: 100%;
       img{
	      display: block;
	      margin:0 auto;
	      width: 100%;
	      /*box-shadow: 0 0 0 10px #C1BFBF;*/
	    }
     }
    /*为坐响应式，添加的一个展位元素，标签相对定位的父元素*/
    .seat{
	  width:100%;
	  position:absolute;
	  left:0;
	  right:0;
	  top:0;
	  @include layout(20%);
	  img{
        visibility: hidden;	  	
	  }
	  .intro-content .float{
	  	height:180px;
	  	.layout{
	  		margin-top:20px;
	  	}
	  }
	  h3,p{
	  	margin-left:40px;
	  	text-align:left;
	  }
	  h3{
	  	font-size:16px;
	  	margin-bottom:10px;
	  	color:$secondFont;
	  }
	  p{
	  	font-size:14px;
      color:$thirdFont;
	  	a{
	  	  color:$thirdFont;
	  	}
	  	a:hover{
        color:$mainColor;
	  		text-decoration: underline;
	  	}
	  }
    .float{
       &:hover{
          background-color: $fourthColor;
          background-clip: content-box;
          p,h3,p>a{
            color:#fff;
          }        
       }
    }
    .z-active{
          background-color: $fourthColor;
          p,h3,p>a{
            color:#fff;
          }
          background-clip: content-box;      
    }
	}


   .centent{
   	margin-top:150px;
   }
   .section{
   	  margin:$blank-height auto;
      width:80%;
   }

  .customers-logo {
    margin:0 auto;
    width:80%;
    @extend .h2css;
    @at-root .customers-title{
       text-align:center;
       // h2{
       //  margin-right:10px;
       // }
       // span:nth-child(2){
       //  margin-left:10px;
       //  color:#78F9FD;
       // }
       p{
        height:40px;
        line-height:40px;
        font-size:0.8rem;
        color:#888686;
       }
    }
     .customers-bg{
        h3{
        height:40px;
        line-height:40px;
        font-size:1rem;
        color:$secondFont;
       }
     }
    @include layout(33.3%);
    .customers-img{
      width:100%;
      height:100px;
      background:url(../images/customerlogo.png);
      background-size:100% 500%;
    }
    .img-163{
      background:url(../images/customerlogo163.png);
      background-position:0 0;
      background-size:100% 100px;
    }    
    .img-lemon{
      background-position:0 0;
    }
    .img-tpy{
      background-position:0 25%;
    } 
    .img-sd{
      background-position:0 50%;
    }
    .img-mt{
      background-position:0 75%;
    } 
    .img-hi{
      background-position:0 100%;
    } 
    h3{
      text-align:center;
    }  
  }

  .customers-appraise1{
    margin:30px auto;
    width:80%;
    @extend .h2css;
     // h2{
     //  text-align:center;
     //  margin-bottom:20px;
     //   span{
     //      color:#78F9FD;            
     //   }
     // }
     @include layout(25%);
     .intro-content{
       vertical-align:middle;
     }
     img{
      width:50px;
      height:50px;
      border-radius:50%;
     }
     p{
        font-size:0.8rem;
        color:#888686;           
      }    
    h3{
      height:50px;
      display:inline-block;
      font-size:0.9rem;
      vertical-align:middle;
      color:#404040;
    } 
     
  }
  
  .service{
    margin:30px auto;
    width:80%;
    overflow:hidden;
    @extend .h2css;
    .title{
      float:left;
      top:0;
      bottom:0;
      width:20%;
      background:linear-gradient(to bottom, $mainColor,$fourthColor); 
      margin-bottom:-1000px;
      padding-bottom:1000px;
      height:100px;
      color:#fff;
      h3,p{
        width:80%;
        margin:0 auto;
      }
      h3{
        font-size:1rem;
        height:30px;
        margin:20px;
        // line-height:30px;
      }
      p{
        font-size:0.8rem;
      }
    }
    .service-intro{
      margin-left:23%;
      @include layout(50%);
      .intro-content{
        margin-bottom:20px;
        h4,p{
          margin:5px 5px;
        }
        h4{
          margin-top:10px;
          font-size:1rem;
          color:$secondFont;
        }
        p{
          font-size:0.8rem;
          color:$thirdFont;
        }
        .service-bg{
           padding-right:3px;
          &:hover{
            >a{
              display:block;
             box-shadow: 0 3px 8px rgba(0, 0, 0, .25);          
            }

          }
        }
      }
      .service-img{
        width:100%;
        height:100px;
        background:url(../images/intro2.jpg);
        background-size:400px 300px;
      }
    }

  }
  .case{
 	  margin:$blank-height auto;
    width:80%;
    @extend .h2css;
    @include layout(33.3%); 
    .intro-content{      
        .case-img{
          	position: relative;
          	height:200px;
  			    width:100%;
          	// background: url(../images/intro1-icon.png) no-repeat;  
          	// background-size:500% 100%; /*根据htmlfont-size和bgsize大小计算而得*/
              &:hover{
                 .layer{
                   height:100%;                   	
                 }
              }
          }	
  			.img-lemon{
          background:url(../images/case1.png);
  				background-position: 0 0;
  			}
  			.img-tpy{
          background:url(../images/case2.png);
  				background-position: 25% 0;
  			}
  			.img-jy{
          background:url(../images/case3.png);
  				background-position: 0 0;
  			} 
  			h3{
  				text-align: center;
  				font-size:1.4rem;
  				line-height:2rem;
  			}
  			p{  
          padding:10px 20px;
  				vertical-align: middle;
  				z-index:200;
  			}
  			.layer{
  				position: absolute;
  				// visibility: hidden;
  				bottom: 0px;
  				background-color:rgba(3,41,81,0.7);
          border:1px solid #thitdFond;
  				width:100%;
  				height: 0%;
  				z-index:10;					
          @include transition(height 500ms);	
          color:#fff;
          h3{
            margin-top:10px;
            font-size:1rem;
          }
          p{
            font-size:0,8rem;
          }
  			}			
      }          	       
    }
    #intro2{
   	  margin:$blank-height auto;
      width:80%;
      // background: url(../images/intro2.jpg) no-repeat;
      background-color: #F8FCD8;
      background-size:cover; 
      h2{
      	 margin: 0 auto;
      	 width:300px;
      	 height: 50px;
      	 background-color: #1ac472;
      	 text-align: center;
      	 line-height:50px;
      }
      @include layout(33.33%);
      .intro-content{     	  
      	 .intro2-img{
      	 	// border:1px solid #1ac472;
      	    width:130px;
      	    height: 80px;
	      	background: url(../images/intro2-icon2.png) no-repeat; 

	      	      	 	
      	 }
      	 h3{

      	 	text-align: center;
      	 	font-size:1.5rem;
      	 	color:#1ac472;
      	 }
      	 p{
      	 	text-align: center;
      	 }
    	
      }
      .img-com{
      	background-position: 0 0;
      }
      .img-wechat{
      	background-position: 0 -90px;
      }
      .img-maintain{
      	background-position: 0 -180px;
      }
    }


    #intro3{
   	  margin:$blank-height auto;
      width:80%;
      // background: url(../images/intro2.jpg) no-repeat;
      background-color: #F8FCD8;
      background-size:cover; 
      //background: url(../images/intro2.jpg) no-repeat;
      h2,>p{
         margin:0 auto;
      	 text-align: center;         
      	}
      @include layout(20%);
      .intro-content{

      }
    }
    #intro4{
    	color: #fff;
      background: url(../images/intro4.jpg) repeat;
      h2,>p{
         margin:0 auto;
      	 text-align: center;         
      	}
       @include layout(25%);
       .intro-content{
       	h3{
     	 	text-align: center;       		
       	}
       }
    }
    
    #intro5{
      background: url(../images/intro5.jpg) no-repeat;
      @extend .intro-content;
    }
    #intro6{
      background-color: #fff;
    }        
    #intro7{
      background: url(../images/intro7.jpg) no-repeat;
    }
    #intro8{
     background: url(../images/intro8.jpg) no-repeat;
    }
    #intro9{
      background-color: #fff;
    }

    footer{
    background-color:#000;
    color:#fff;
       .footer-nav ul{
       	margin-bottom:20px;
       	height:30px;
       	line-height:30px;
       	background-clip: content-box;
     	border-bottom:1px solid #4F4F4F;         	
       }
        li {
    	display:inline-block;  
    	width:80px;
    	text-align:center;
    
    	border-left:1px solid;    
    	  // span{
	      //   padding: 16px 6px 1px;
	      //   margin-left: 12px;
	      //   border-left: 1px solid;
	      //   font-size: 0;
	      //   vertical-align:middle;
    	  // } 
    	  // a{ 
    	  // 	height:100%;
	      //   vertical-align:middle;    	  	
    	  // }	
        }
        .contact{
        	@include layout(33.3%);
        	.contact-content{
        		margin-left:150px;
        		width:80%;
        		height:80%;
        	 }
             >h3{
             	float:left;
             	width:150px;
             	height:150px;
             }

             @at-root .contact-content > div{
             	h5,p{
             		display:inline-block;
             	}
             }
        }
    }


    /*aboutus*/
    .about-content{
      margin-top:130px;
    	.side{
    		position:fixed;
    		top: $navLarge+30px;
        left:20px;
    		bottom:150px;
     		float:left;
    		width:20%;
    		height:100%;
    		ul li{
    			height:50px;
    			border:1px solid;
    			right:20%;
    			background-clip:content-box;
    			// background-color:#000;
    			line-height:50px;
    			background: linear-gradient(to bottom, #0F0F0F,#000 50%,#0F0F0F);
    			border-bottom:1px solid #444444;
    			 // box-shadow:0 0 0 2px #444444;
    			a{  display:inline-block;
    				width:100%;
    				text-align:center;
    				
    			}    			
				&:hover{
				  // background: linear-gradient(to bottom, #3d0101,#610101 20%,#610101 80%,#3d0101);	
				 background:#610101;
				  span{
				  	@include opacity(1);
				  }
				}
				span{
					position:absolute;
				    width: 0;
				    height: 0;
				    border-top: 26px solid transparent;
				    border-left: 15px solid #610101 ;
				    border-bottom: 27px solid transparent;
				    @include opacity(0);
				}
    		}   		
    	}
        .about-intro{
        	margin-left:25%;
        	width:60%;
        }

    }

     @keyframes turnaround{
      0%{@include transform-rotate(0deg);}
      100%{@include transform-rotate(360deg);}
    }

    .about-intro{
       h2{
        font-size:1.1rem;
        text-align:center;
        color:$thirdFont;
        span{
          padding-right:5px;
          font-size:1.3rem;
          color:$secondFont;
        }
       }
       >div{
        margin-top:50px;
       }
       h3{
        height:50px;
        color:$secondFont;
        font-size:1.2rem;
        line-height:50px;
        text-align:right;
       }
       p{
        font-size:0.8rem;
        color:$thirdFont;
        line-height:1.3rem;
        span{
          font-size:1rem;
          color:$secondFont;
        }
       }
       @at-root .brief-intro{
         @include layout(33.3%);
         .intro-content{
          margin-top:20px;
            p{
             margin-top:10px;
           }
         }
         .intro-img{
          width:100px;
          height:100px;
          background-color:$fourthColor;
          border-radius:50% 50%;
          @include animation(turnaround 700ms ease);
          @include transform-origin(50% 50%);
          h4{
            line-height:100px;
            text-align:center;
            color:#fff;
          }
         }
       }
    }

  .about-intro{
    @include layout(33.3%);
    .attitude>div{
      margin:20px auto;
      width:60%;
      vertical-align:top;
        .layout{
          height:130px;
        }
        h4{
          background-color:$fourthColor;
          line-height:120px;
          text-align:center;
          color:#fff;         
        }
    }
  }
   

  .about-intro .founder{
   .ceo{
      overflow:hidden;
      h4{
      float:left;
      width:80px;
      background-color:$fourthColor;
      text-align:center;
      line-height:100px;
      color:#fff; 
      margin-bottom:-500px;
      padding-bottom:500px;
      height:100px;
     }
     p{
      margin-left:100px;     
     }

   }
  .cxo{
    margin-top:20px;
    .layout{
      height:50px;
      background-color:$fourthColor;  
      text-align:center;
      line-height:50px;
      color:#fff;     
    }
  }
}

 .about-intro .recruit{
   span{
    display:inline-block;
    height:30px;
    line-height:30px;
    font-size:0.9rem;
    width:100px;
    color:#fff; 
    text-align:center;
    background-color:$fourthColor;  
    border-left:1px solid #fff;
   }
 }