
.m-slider{
  background-color: #fff;
  position: relative;
/*  height: 100%;*/
  width: 100%;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
.m-slider, .m-slider .slide{
 /* height: 100%;*/
  width: 100%;
}
.m-slider .slide{
  position: absolute;
  top:0;
  left: 0;
  text-align: center;
  vertical-align: middle;
  background-color: #fff;

}

.m-slider .slide.z-active{
  transition: opacity .2s ease-in;
}

.m-slider .slide img{
  /*border: 2px solid #fff;*/
  /*border-radius: 2px;*/
  /*box-shadow: 0px 0px 2px rgba(0,0,0, .5);*/
/*  top: 0;
  left: 0;
  position: absolute;*/
  width: 100%;
}
/*
.m-slider .slide h2{
  margin-top: 40%;
}*/

/*
.m-slider .slide{
  background-color: #e1f1d1;
}
.m-slider .slide:first-child{
  background-color: #d1e1f1;
}
.m-slider .slide:last-child{
  background-color: #f1e1d1;
}

*/



/*----Cursor------*/

.m-cursor{
  z-index: 10;
  text-align: center;
  position: absolute;
  top: 80%;
  left: 2.5%;
  right: 2.5%;
  padding-left: 0;
}
.m-cursor>div{
  color: #aaa;
  background-color: #fff;
  background-clip: content-box;
  /*line-height: 20px;*/
  /*display: inline-block;*/
  cursor: pointer;
  transition: background-color .5s;

}


/*.m-cursor>div.z-active,.m-cursor>div:hover{
  background-color: #8AABCA;
  color:#fff;
  background-clip: content-box;
}*/
/*
.m-cursor>div:hover{
  background-color: #94B7F4;
  color: #fff;
}*/

.prev,.next{
  position: absolute;
  z-index: 10;
  width: 2em;
  height: 2em;
  font-size: 2em;
  color: #aaa;
  line-height: 2em;
  border-radius: 50%;
  border: 2px solid #999;
  margin-bottom: 4px;
  list-style: none;
  /*display: inline-block;*/
   font-family: '宋体';
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  /*display: none;*/
}

.prev{
  left: 1.5em;
  top:50%;
  margin-top:-0.5em;
}

.next{
  right: 1.5em;
  top: 50%;
  margin-top:-0.5em;
}

